*.*\#
\#*
.\#*
*.*~
syn/
work
*.wlf
modelsim.ini
transcript
*.vstf
*.bak
*.vcd
*.h
doc/
*.o
*.bin
*.elf
Makefile
*.stp
*.ppf
*.obj
*.hex
*.ko
*.lib
*.asm
*.ihx
*.lk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
greybox_tmp

